<?xml version="1.0" encoding="UTF-8"?>

    <manifest package="com.example.nyam_project" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>


    <application
    android:name=".GlobalVariable"
    android:theme="@style/Theme.AppCompat.NoActionBar"
    android:supportsRtl="true"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:label="@string/app_name"
    android:icon="@mipmap/ic_launcher"
    android:allowBackup="true">
    <activity android:name=".MainActivity">


    <intent-filter>

    <action android:name="android.intent.action.MAIN"/>

    <category android:name="android.intent.category.LAUNCHER"/>

</intent-filter>

</activity>

    <activity android:name=".AdminActivity"> </activity>

    <activity android:name=".adminMypageActivity"> </activity>

    <activity android:name=".changePWActivity"> </activity>

    <activity android:name=".LoginActivity"> </activity>

    <activity android:name=".resMypageActivity"> </activity>

    <activity android:name=".RestaurantActivity"> </activity>

    <activity android:name=".signUpResActivity"> </activity>

    <activity android:name=".signUpStdActivity"> </activity>

    <activity android:name=".stdMypageActivity"> </activity>

    <activity android:name=".StudentActivity"> </activity>

    <activity android:name=".WithdrawActivity"> </activity>

    <activity android:name=".activity_writing_notice"> </activity>

    <activity android:name=".activity_writing_promo"> </activity>

    <activity android:name=".activity_writing_Q"> </activity>

    <activity android:name=".activity_writing_share"> </activity>

    <activity android:name=".ask_detail"> </activity>

    <activity android:name=".join_detail"> </activity>

    <activity android:name=".join_show_list"> </activity>

    <activity android:name=".join_edit"> </activity>

    <activity android:name=".notice_detail"> </activity>

    <activity android:name=".notice_edit"> </activity>

    <activity android:name=".notice_show_list"> </activity>

    <activity android:name=".promo_detail"> </activity>

    <activity android:name=".promo_edit"> </activity>

    <activity android:name=".promo_show_list"> </activity>

    <activity android:name=".Q_show_list"> </activity>

    <activity android:name=".share_detail"> </activity>

    <activity android:name=".share_edit"> </activity>

    <activity android:name=".share_show_list"> </activity>

    <activity android:name=".writingActivity"> </activity>

    <activity android:name=".endchattingActivity"> </activity>

    <activity android:name=".assignActivity"> </activity>

    <activity android:name=".uploadStdCardActivity"> </activity>

    <activity android:name=".ManageUserActivity"> </activity>

    <activity android:name=".AssignWithdrawActivity"> </activity>

    <activity android:name=".FindPWActivity"> </activity>

    <activity android:name=".search_join"> </activity>

    <activity android:name=".search_notice"> </activity>

    <activity android:name=".search_promo"> </activity>

    <activity android:name=".search_q"> </activity>

    <activity android:name=".search_share"> </activity>

    <activity android:name=".JoinbeforechatActivity"> </activity>

    <activity android:name=".JoinChatActivity"> </activity>

    <activity android:name=".SharebeforechatActivity"> </activity>

    <activity android:name=".ShareChatActivity"> </activity>

    <activity android:name=".ask_writing_comment"></activity>

</application>

</manifest>